.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.title{
  color: white;
  font-size: 70px;
  font-weight: 900;
  font-style: italic;
  text-shadow: 0 4px 14px rgb(0 0 0 / 67%);
}
.box {
  /* width: 700px;
  height: 55px; */
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-bar {
  width: 700px;
  height: 50px;
  padding: 0 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.results-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 720px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}


/* Style each result item */
.result-item {
  padding: 10px;
  cursor: pointer;
}

/* Highlight the hovered or active item */
.result-item:hover, .result-item.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.658); /* Example color, adjust as needed */
}

.search-bar-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.results-list li {
  padding: 10px;
  cursor: pointer;
}

.results-list li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.result-album {
  /* font-weight: bold; */
}

.result-song {
  font-style: italic;
}

.result-description {
  /* text-decoration: underline; */
}

.highlight {
  color: rgb(255, 242, 0);
}
.eachResultDiv{
  display:flex;
  justify-content: space-between;
}